/* 프리텐다드 폰트 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Orbit 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard-Regular';
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* gnb */
.gnb {
  position: absolute;
  color: white;
  z-index: 99;
  display: flex;
  padding: 20px 5%;
  justify-content: right;
  width: 100%;
}

.gnb .login {
  margin-right: 30px;
  cursor: pointer;
}

.gnb .eng {
  cursor: pointer;
}

.gnb .login:hover,
.gnb .eng:hover {
  opacity: 80%;
}

/* header */
header {
  width: 100%;
  height: 80px;
  margin: 50px auto 0;
  background-color: rgba(120, 120, 120, 0.4);
  padding: 50px 5%;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 99;
  left: 0;
  right: 0;
}

header .menu {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 5%;
}

header .menu li {
  margin-left: 35px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
}

header .menu li a {
  color: blue;
}

header .menu li:hover {
  opacity: 80%;
}

.logo-title p {
  color: #eee;
}

.logo-title h1 {
  font-family: 'Orbit';
  font-size: 1.8rem;
  margin-bottom: 2px;
  color: #eee;
}

.home-link {
  display: flex;
}

/* hero section */
.hero {
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.hero video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: linear-gradient(90deg, rgba(1, 1, 1, 0.5), transparent);
  left: 0;
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  display: block;
  margin-right: 20px;
  z-index: 99;
}

.text_box {
  font-size: 2.5rem;
  text-align: left;
  color: #eee;
  position: absolute;
  left: 30%;
  top: 45%;
  width: 40%;
  transform: translate(-50%);
  font-family: 'Orbit';
}

.blink {
  animation: blink 0.5s infinite;
  font-size: 2.5rem;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

/* section.guide-map */
.guide-map {
  padding: 130px 0;
}

.container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}

.section-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
}

h2.section-title {
  font-size: 32px;
  font-family: 'Orbit';
  color: #005555;
  text-align: center;
  margin-left: 20px;
}

.guide-map-container {
  display: flex;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.guide-map-container .guide-map-img {
  width: 70%;
}

select {
  width: 100%;
  padding: 0.8em 0.5em;
  font-family: inherit;
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
    no-repeat 95% 50%;
  border: 1px solid #999;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
}

.map-info {
  display: flex;
  flex-direction: column;
}

.map-info-container {
  margin-left: 30px;
  width: 30%;
}

.map-info img {
  margin: 15px 0;
  width: 100%;
}

.map-info-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.3rem;
}

.map-info-text {
  color: #555;
}

/* kakao-map */
section.kakao-map {
  padding: 130px;
}

.kakao-map #map {
  margin: 0 auto;
}

.adress {
  font-size: 1.1rem;
  padding: 30px;
  color: #444;
}

.transport-info-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 25px;
  background-color: #222;
  border-radius: 20px;
  color: #eee;
  cursor: pointer;
}

.transport-info-btn:hover {
  background-color: #444;
}

table {
  border-collapse: collapse;
  border-width: 3px 0 3px 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.5);
}

#table {
  display: none;
  padding: 30px;
}

#table.show {
  display: block;
}

#table h3 {
  margin-bottom: 10px;
}

.table_1,
.table_2 {
  margin-bottom: 60px;
}

table th {
  background-color: rgba(50, 50, 50, 0.1);
  border-bottom: 1.5px solid black;
  height: 35px;
  font-weight: bold;
  font-size: large;
}
table td {
  height: 35px;
}
table tr {
  border: none;
}

#table .table_1 table tr td:first-child {
  width: 300px;
}
#table .table_1 table tr td:nth-child(2) {
  width: 600px;
}
#table .table_1 table tr td:last-child {
  width: 300px;
}

#table .table_3 table tr td:first-child {
  width: 400px;
  text-align: center;
}

#table .table_1 table tr td:first-child {
  text-align: center;
}
#table .table_1 table tr td:last-child {
  text-align: center;
}

/* sns gallery */
.gallery-border {
  border: 1px solid #919072;
}

.sns-gallery {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 130px;
}

.instagram-profile {
  padding: 0 20px 50px;
  display: flex;
  align-items: center;
}

.profile h2 {
  margin-bottom: 5px;
}

.profile .account-info {
  color: #888;
  margin-bottom: 20px;
}

.profile h3 {
  margin-bottom: 5px;
}

.profile .operation-info {
  color: #555;
}

.profile-img-wrapper {
  margin: 20px;
}

.profile-img-wrapper img {
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, auto));
  gap: 5px;
  padding-bottom: 50px;
}

.grid-item-wrapper {
  width: 100%;
  position: relative;
}

.grid-item-wrapper::after {
  display: block;
  content: '';
  padding-bottom: 32%;
}

.grid-item {
  width: 100%;
  height: 100%;
  background-color: #999;
  object-fit: cover;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease-in 0.1s;
}

.grid-item img:hover {
  scale: 1.02;
}

/* footer */
footer {
  width: 100%;
  background-color: #444;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  font-size: 0.9rem;
  color: #999;
}

/* first Line */
footer #aLine {
  width: 100%;
  max-width: 1680px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

footer #aLine #footer_fline {
  margin: 0 97px;
}
footer #aLine #footer_fline ul {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
footer #aLine #footer_fline ul li:first-child {
  list-style: none;
}

footer #aLine #footer_fline ul li a {
  color: #eee;
}
footer #aLine #footer_sline {
  margin: 0 97px;
  display: flex;
  gap: 30px;
}
footer #aLine #footer_sline a {
  color: white;
}
/* second Line */
footer #bLine {
  width: 100%;
  max-width: 1680px;
  border-top: 0.5px solid;
  display: flex;
  padding: 20px 0;
}

footer #bLine #footer_tline {
  width: 100%;
  margin-left: 97px;
  display: flex;
  gap: 30px;
  align-items: center;
}

footer #bLine #footer_foline {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-right: 97px;
}

/* top btn */
.top-btn-wrapper {
  position: relative;
}

.top-btn-wrapper:hover {
  opacity: 80%;
}

.top-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 35px;
  right: 35px;
  z-index: 9;
  line-height: 50px;
  text-align: center;
  color: #000;
}

.top-btn-wrapper img {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

/* reservation-btn */
.reservation-btn {
  position: fixed;
  right: 30px;
  bottom: 110px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
  color: #fff;
}

.reservation-btn:hover {
  background-color: rgba(110, 110, 110, 0.6);
}
